

/*---------------- Base styles ----------------*/
* {
  box-sizing: border-box;
  font-family: Ariel, Helvetica, sans-serif;
}

body {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}
  
h1 {
  text-align: center;
  color: #3B170C;
  font-size: 175%;
}

h2 {
  
  position:absolute;
  top: 0px;
  right: 0px;
  
  width: 150px;
  height: auto;
  margin: 0px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  font-size: 125%;
  text-align: center;
}

section{
  clear:both;
  padding: 30px;
  vertical-align: middle; 
}

/*---------------- IDs ----------------*/
#ch {
  background-color: #E85C2E;
 }
#be {
  background-color: #AA49FF;
}
#su {
  
  background-color: #13FF99; 
 }

/*---------------- Classes ----------------*/
.row {
  width: 100%;
}

.section {
  position: relative;
  margin: 10px;
  border: 1px solid black;
  background-color: #E8D18E;
  height: 250px;
  overflow: hidden; 
}

/*---------------- Large  ----------------*/
@media (min-width: 992px) {
  .lg {
    float: left;
    width: 33.33%;
  }
}
/*--------------- Medium  ---------------*/
@media (min-width: 768px) and (max-width: 991px) {
 .med1 {
    float: left;
    width: 50%;
  }
  .med2 {
    float: left;
    width: 100%;
  }
}
/*--------------- Small ---------------*/
@media (max-width: 767px) {
  .sm {
    float: left;
    width: 100%;
  }
}
